<div class="page">
  <div class="images-left">
    <img
      alt="img"
      class="first-img side" src="https://images.bloomingdalesassets.com/is/image/BLM/?&$b=BLM/swatches/&hei=75&wid=248&cropN=0,0,4,1&resMode=sharp2&fmt=jpeg&qlt=100,0&layer=0&size=248,75&anchor=0,0&layer=1&size=60,75&src=is{$b$1/optimized/10873071_fpx.tif}&anchor=0,0&posN=0.000000,0&layer=2&size=60,75&src=is{$b$5/optimized/10873075_fpx.tif}&anchor=0,0&posN=0.250000,0&layer=3&size=60,75&src=is{$b$4/optimized/11039624_fpx.tif}&anchor=0,0&posN=0.500000,0&layer=4&size=60,75&src=is{$b$8/optimized/11039628_fpx.tif}&anchor=0,0&posN=0.750000,0">
    <img
      alt="img"
      class="second-img side" src="https://images.bloomingdalesassets.com/is/image/BLM/?&$b=BLM/swatches/&hei=75&wid=248&cropN=0,0,4,1&resMode=sharp2&fmt=jpeg&qlt=100,0&layer=0&size=248,75&anchor=0,0&layer=1&size=60,75&src=is{$b$1/optimized/10873071_fpx.tif}&anchor=0,0&posN=0.000000,0&layer=2&size=60,75&src=is{$b$5/optimized/10873075_fpx.tif}&anchor=0,0&posN=0.250000,0&layer=3&size=60,75&src=is{$b$4/optimized/11039624_fpx.tif}&anchor=0,0&posN=0.500000,0&layer=4&size=60,75&src=is{$b$8/optimized/11039628_fpx.tif}&anchor=0,0&posN=0.750000,0">
    <img
      alt="img"
      class="third-img side" src="https://images.bloomingdalesassets.com/is/image/BLM/?&$b=BLM/swatches/&hei=75&wid=248&cropN=0,0,4,1&resMode=sharp2&fmt=jpeg&qlt=100,0&layer=0&size=248,75&anchor=0,0&layer=1&size=60,75&src=is{$b$1/optimized/10873071_fpx.tif}&anchor=0,0&posN=0.000000,0&layer=2&size=60,75&src=is{$b$5/optimized/10873075_fpx.tif}&anchor=0,0&posN=0.250000,0&layer=3&size=60,75&src=is{$b$4/optimized/11039624_fpx.tif}&anchor=0,0&posN=0.500000,0&layer=4&size=60,75&src=is{$b$8/optimized/11039628_fpx.tif}&anchor=0,0&posN=0.750000,0">
    <img
      alt="img"
      class="forth-img side" src="https://images.bloomingdalesassets.com/is/image/BLM/?&$b=BLM/swatches/&hei=75&wid=248&cropN=0,0,4,1&resMode=sharp2&fmt=jpeg&qlt=100,0&layer=0&size=248,75&anchor=0,0&layer=1&size=60,75&src=is{$b$1/optimized/10873071_fpx.tif}&anchor=0,0&posN=0.000000,0&layer=2&size=60,75&src=is{$b$5/optimized/10873075_fpx.tif}&anchor=0,0&posN=0.250000,0&layer=3&size=60,75&src=is{$b$4/optimized/11039624_fpx.tif}&anchor=0,0&posN=0.500000,0&layer=4&size=60,75&src=is{$b$8/optimized/11039628_fpx.tif}&anchor=0,0&posN=0.750000,0">
  </div>

  <div class="load-image">
    <img
      alt="img"
      class="load-image-1" src="https://images.bloomingdalesassets.com/is/image/BLM/products/1/optimized/10873071_fpx.tif?op_sharpen=1&wid=700&fit=fit,1&$filtersm$&fmt=webp">
  </div>

  <div class="description">
    <p class="topic">Sandro</p>
    <p class="content">Teddy Slim Fit Bomber Jacket</p>
    <p class="content price">LKR 127,425.80</p>
    <p class="content color"><b>COLOR: </b> Navy Blue</p>

    <!--<form>
      <h4>mat-select</h4>
      <mat-form-field appearance="fill">
        <mat-label>Favorite food</mat-label>
        <mat-select [(ngModel)]="selectedValue" name="food">
          <mat-option *ngFor="let food of foods" [value]="food.value">
            {{food.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <p> Selected food: {{selectedValue}} </p>
      <h4>native html select</h4>
      <mat-form-field appearance="fill">
        <mat-label>Favorite car</mat-label>
        <select matNativeControl [(ngModel)]="selectedCar" name="car">
          <option value="" selected></option>
          <option *ngFor="let car of cars" [value]="car.value">
            {{car.viewValue}}
          </option>
        </select>
      </mat-form-field>
      <p> Selected car: {{selectedCar}} </p>
    </form>-->
    <button color="primary" mat-raised-button class="add-button">ADD TO BAG</button>
    <mat-divider></mat-divider>

  </div>

</div>
