<div class="page">
  <div class="images-left">
    <img
      src="https://images.bloomingdalesassets.com/is/image/BLM/?&$b=BLM/swatches/&hei=75&wid=248&cropN=0,0,4,1&resMode=sharp2&fmt=jpeg&qlt=100,0&layer=0&size=248,75&anchor=0,0&layer=1&size=60,75&src=is{$b$1/optimized/10873071_fpx.tif}&anchor=0,0&posN=0.000000,0&layer=2&size=60,75&src=is{$b$5/optimized/10873075_fpx.tif}&anchor=0,0&posN=0.250000,0&layer=3&size=60,75&src=is{$b$4/optimized/11039624_fpx.tif}&anchor=0,0&posN=0.500000,0&layer=4&size=60,75&src=is{$b$8/optimized/11039628_fpx.tif}&anchor=0,0&posN=0.750000,0"
      alt="img" class="first-img side">
    <img
      src="https://images.bloomingdalesassets.com/is/image/BLM/?&$b=BLM/swatches/&hei=75&wid=248&cropN=0,0,4,1&resMode=sharp2&fmt=jpeg&qlt=100,0&layer=0&size=248,75&anchor=0,0&layer=1&size=60,75&src=is{$b$1/optimized/10873071_fpx.tif}&anchor=0,0&posN=0.000000,0&layer=2&size=60,75&src=is{$b$5/optimized/10873075_fpx.tif}&anchor=0,0&posN=0.250000,0&layer=3&size=60,75&src=is{$b$4/optimized/11039624_fpx.tif}&anchor=0,0&posN=0.500000,0&layer=4&size=60,75&src=is{$b$8/optimized/11039628_fpx.tif}&anchor=0,0&posN=0.750000,0"
      alt="img" class="second-img side">
    <img
      src="https://images.bloomingdalesassets.com/is/image/BLM/?&$b=BLM/swatches/&hei=75&wid=248&cropN=0,0,4,1&resMode=sharp2&fmt=jpeg&qlt=100,0&layer=0&size=248,75&anchor=0,0&layer=1&size=60,75&src=is{$b$1/optimized/10873071_fpx.tif}&anchor=0,0&posN=0.000000,0&layer=2&size=60,75&src=is{$b$5/optimized/10873075_fpx.tif}&anchor=0,0&posN=0.250000,0&layer=3&size=60,75&src=is{$b$4/optimized/11039624_fpx.tif}&anchor=0,0&posN=0.500000,0&layer=4&size=60,75&src=is{$b$8/optimized/11039628_fpx.tif}&anchor=0,0&posN=0.750000,0"
      alt="img" class="third-img side">
    <img
      src="https://images.bloomingdalesassets.com/is/image/BLM/?&$b=BLM/swatches/&hei=75&wid=248&cropN=0,0,4,1&resMode=sharp2&fmt=jpeg&qlt=100,0&layer=0&size=248,75&anchor=0,0&layer=1&size=60,75&src=is{$b$1/optimized/10873071_fpx.tif}&anchor=0,0&posN=0.000000,0&layer=2&size=60,75&src=is{$b$5/optimized/10873075_fpx.tif}&anchor=0,0&posN=0.250000,0&layer=3&size=60,75&src=is{$b$4/optimized/11039624_fpx.tif}&anchor=0,0&posN=0.500000,0&layer=4&size=60,75&src=is{$b$8/optimized/11039628_fpx.tif}&anchor=0,0&posN=0.750000,0"
      alt="img" class="forth-img side">
  </div>

  <div class="load-image">
    <img
      src="https://images.bloomingdalesassets.com/is/image/BLM/products/1/optimized/10873071_fpx.tif?op_sharpen=1&wid=700&fit=fit,1&$filtersm$&fmt=webp"
      alt="img" class="load-image-1">
  </div>

</div>
