<div class="page">
  <div class="images-left">
    <img
      alt="img"
      class="first-img side" src="https://images.bloomingdalesassets.com/is/image/BLM/?&$b=BLM/swatches/&hei=75&wid=248&cropN=0,0,4,1&resMode=sharp2&fmt=jpeg&qlt=100,0&layer=0&size=248,75&anchor=0,0&layer=1&size=60,75&src=is{$b$1/optimized/10873071_fpx.tif}&anchor=0,0&posN=0.000000,0&layer=2&size=60,75&src=is{$b$5/optimized/10873075_fpx.tif}&anchor=0,0&posN=0.250000,0&layer=3&size=60,75&src=is{$b$4/optimized/11039624_fpx.tif}&anchor=0,0&posN=0.500000,0&layer=4&size=60,75&src=is{$b$8/optimized/11039628_fpx.tif}&anchor=0,0&posN=0.750000,0">
    <img
      alt="img"
      class="second-img side" src="https://images.bloomingdalesassets.com/is/image/BLM/?&$b=BLM/swatches/&hei=75&wid=248&cropN=0,0,4,1&resMode=sharp2&fmt=jpeg&qlt=100,0&layer=0&size=248,75&anchor=0,0&layer=1&size=60,75&src=is{$b$1/optimized/10873071_fpx.tif}&anchor=0,0&posN=0.000000,0&layer=2&size=60,75&src=is{$b$5/optimized/10873075_fpx.tif}&anchor=0,0&posN=0.250000,0&layer=3&size=60,75&src=is{$b$4/optimized/11039624_fpx.tif}&anchor=0,0&posN=0.500000,0&layer=4&size=60,75&src=is{$b$8/optimized/11039628_fpx.tif}&anchor=0,0&posN=0.750000,0">
    <img
      alt="img"
      class="third-img side" src="https://images.bloomingdalesassets.com/is/image/BLM/?&$b=BLM/swatches/&hei=75&wid=248&cropN=0,0,4,1&resMode=sharp2&fmt=jpeg&qlt=100,0&layer=0&size=248,75&anchor=0,0&layer=1&size=60,75&src=is{$b$1/optimized/10873071_fpx.tif}&anchor=0,0&posN=0.000000,0&layer=2&size=60,75&src=is{$b$5/optimized/10873075_fpx.tif}&anchor=0,0&posN=0.250000,0&layer=3&size=60,75&src=is{$b$4/optimized/11039624_fpx.tif}&anchor=0,0&posN=0.500000,0&layer=4&size=60,75&src=is{$b$8/optimized/11039628_fpx.tif}&anchor=0,0&posN=0.750000,0">
    <img
      alt="img"
      class="forth-img side" src="https://images.bloomingdalesassets.com/is/image/BLM/?&$b=BLM/swatches/&hei=75&wid=248&cropN=0,0,4,1&resMode=sharp2&fmt=jpeg&qlt=100,0&layer=0&size=248,75&anchor=0,0&layer=1&size=60,75&src=is{$b$1/optimized/10873071_fpx.tif}&anchor=0,0&posN=0.000000,0&layer=2&size=60,75&src=is{$b$5/optimized/10873075_fpx.tif}&anchor=0,0&posN=0.250000,0&layer=3&size=60,75&src=is{$b$4/optimized/11039624_fpx.tif}&anchor=0,0&posN=0.500000,0&layer=4&size=60,75&src=is{$b$8/optimized/11039628_fpx.tif}&anchor=0,0&posN=0.750000,0">
  </div>

  <div class="load-image">
    <img
      alt="img"
      class="load-image-1" src="https://images.bloomingdalesassets.com/is/image/BLM/products/1/optimized/10873071_fpx.tif?op_sharpen=1&wid=700&fit=fit,1&$filtersm$&fmt=webp">
  </div>

  <div class="description">
    <p class="topic">Sandro</p>
    <p class="content">Teddy Slim Fit Bomber Jacket</p>
    <p class="content price">LKR 127,425.80</p>
    <p class="content color"><b>COLOR: </b> Navy Blue</p>

    <form>
      <h4>mat-select</h4>
      <mat-form-field appearance="fill">
        <mat-label>Select a size</mat-label>
        <mat-select [(ngModel)]="selectedValue" name="food">
          <mat-option *ngFor="let food of foods" [value]="food.value">
            {{food.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <p> Selected food: {{selectedValue}} </p>
      <h4>native html select</h4>
      <mat-form-field appearance="fill">
        <mat-label>Quantity</mat-label>
        <select matNativeControl [(ngModel)]="selectedCar" name="car">
          <option value="" selected></option>
          <option *ngFor="let car of cars" [value]="car.value">
            {{car.viewValue}}
          </option>
        </select>
      </mat-form-field>
      <p> Selected car: {{selectedCar}} </p>
    </form>
    <button color="primary" mat-raised-button class="add-button">ADD TO BAG</button>
    <mat-divider></mat-divider>

    <p class="topic desc">PRODUCT DETAILS</p>
    <ul class="content details">
      <li>Fits true to size with a slightly slim silhouette; for a more classic fit, please order one size up</li>
      <li>Designed for a slim fit</li>
      <li>Model measurements: 6'1 height, 40" chest, 31" waist, 34" inseam, wearing a size medium</li>
      <li>Stand shawl collar</li>
      <li>Front zip closure</li>
      <li>Two side zip pockets</li>
      <li>Long sleeves</li>
      <li>Back shoulder yoke</li>
      <li>Ribbed trim</li>
      <li>Lined</li>
      <li>Imported</li>
      <li>Web ID: 3449904</li>
    </ul>

    <mat-divider></mat-divider>
    <p class="topic desc">MATERIAL & CARE</p>
    <ul class="content details">
      <li>50% polyester/50% wool; ribbing: 49% acrylic/45% wool/5% polyamide/1% elastane; body lining: 65% acetate/35%
        viscose; pocket lining: 100% cotton
      </li>
      <li>Dry clean</li>
    </ul>

    <mat-divider></mat-divider>
    <p class="topic desc">SHIPPING & RETURNS</p>
    <ul class="content details">
      <li>This item may not be shipped to Federated States of Micronesia, Armed Forces Europe, Palau, U.S. Virgin Islands,
        American Samoa, Armed Forces Americas, Hawaii, Puerto Rico, Northern Mariana, Marshall Islands, Guam, Alaska,
        Armed Forces Pacific and El Paso, Texas.
      </li>
    </ul>
    <p class="content last">For complete details, see our <a href="#" class="anchor">Shipping</a> and <a href="#" class="anchor">Returns</a> policies.</p>
    <mat-divider></mat-divider>
    <div class="icons">
      <i class="fab fa-pinterest fa-2x icon"></i>
      <i class="fab fa-facebook fa-2x icon"></i>
      <i class="fab fa-twitter-square fa-2x icon"></i>
    </div>
  </div>
</div>
<div class="lines">
  <div class="line">RECOMMENDED FOR YOU</div>
</div>
<app-recommended-carousel></app-recommended-carousel>
