<div class="column-wrap">
  <div class="column">
    <h3 class="title">CUSTOMER SERVICE</h3>
    <h4>1-800-777-0000</h4>
    <h4>FAQs & Help</h4>
    <h4>Visitor Services</h4>
    <h4>Domestic Site FAQs</h4>

  </div>
  <div class="column">
    <h3 class="title">YOUR ORDER</h3>
    <h4>Order Status & History</h4>
    <h4>Shipping Policy</h4>
    <h4>Return & Exchanges</h4>
  </div>
  <div class="column">
    <h3 class="title">ABOUT BLOOMINGDALE'S</h3>
    <h4>About Us</h4>
    <h4>b.cause</h4>
    <h4>Careers</h4>
  </div>
  <div class="last-column">
    <h3 class="last-title">FOLLOW US</h3>
    <div class="icons">
      <i class="fas fa-mobile fa-2x icon"></i>
      <i class="fab fa-instagram-square fa-2x icon"></i>
      <i class="fab fa-pinterest fa-2x icon"></i>
      <i class="fab fa-facebook fa-2x icon"></i>
      <i class="fab fa-twitter-square fa-2x icon"></i>
    </div>
    <div class="mail">
      <i class="far fa-envelope fa-2x"></i>
      <h2>SIGN UP AND SAVE 15%</h2>
    </div>
  </div>
</div>
<mat-divider></mat-divider>
<div class="footer-wrap">
  <div class="footer">
    <p class="p1">Terms of Use</p>
    <p class="p1">Privacy</p>
    <p class="p1">Do Not Sell My Personal Information</p>
    <p class="p1">CA Privacy Rights</p>
    <p class="p1">CA Transparency in Supply Chains Act</p>
    <p class="p1">Interest Based Ads</p>
    <p class="p1">Customers' Bill of Rights</p>
    <p class="p1">Product Recall</p>
    <p class="p1">Essential Accessibility</p>
  </div>
  <div class="footer footer-1">
    <p id="p-1">© 2021 Bloomingdale's. 1000 Third Avenue New York, NY 10022. Request our corporate name and
      address.</p>
  </div>
  <div class="last-image"><img alt="img"
                               src="https://assets.bloomingdales.com/feature/footer-bcom/latest/images/tagline.svg"></div>
</div>
