<owl-carousel-o [options]="SubOwlOptions">
  <ng-template carouselSlide><img
    src="https://images.bloomingdalesassets.com/is/image/BLM/products/7/optimized/11138267_fpx.tif?op_sharpen=1&wid=240&hei=300&fit=fit,1&qlt=50&layer=comp&op_sharpen=0&resMode=bicub&op_usm=0.7,1.0,0.5,0&fmt=jpeg"
    alt="img" class="img"><p class="img-descriptions"><b>VINCE</b> <br> LKR.41,090.18 </p></ng-template>
  <ng-template carouselSlide><img
    src="https://images.bloomingdalesassets.com/is/image/BLM/products/5/optimized/11132485_fpx.tif?op_sharpen=1&wid=240&hei=300&fit=fit,1&qlt=50&layer=comp&op_sharpen=0&resMode=bicub&op_usm=0.7,1.0,0.5,0&fmt=jpeg"
    alt="img" class="img"><p class="img-descriptions"><b>SALVATORE FERRAGAMO</b> <br> LKR.120,090.18 </p></ng-template>
  <ng-template carouselSlide><img
    src="https://images.bloomingdalesassets.com/is/image/BLM/products/7/optimized/10893157_fpx.tif?op_sharpen=1&wid=240&hei=300&fit=fit,1&qlt=50&layer=comp&op_sharpen=0&resMode=bicub&op_usm=0.7,1.0,0.5,0&fmt=jpeg"
    alt="img" class="img"><p class="img-descriptions"><b>LACOSTE</b> <br> LKR.15,090.18 </p></ng-template>
  <ng-template carouselSlide><img
    src="https://images.bloomingdalesassets.com/is/image/BLM/products/3/optimized/10335593_fpx.tif?op_sharpen=1&wid=240&hei=300&fit=fit,1&qlt=50&layer=comp&op_sharpen=0&resMode=bicub&op_usm=0.7,1.0,0.5,0&fmt=jpeg"
    alt="img" class="img"><p class="img-descriptions"><b>LACOSTE</b> <br> LKR.15,090.18 </p></ng-template>
  <ng-template carouselSlide><img
    src="https://images.bloomingdalesassets.com/is/image/BLM/products/9/optimized/10397989_fpx.tif?op_sharpen=1&wid=240&hei=300&fit=fit,1&qlt=50&layer=comp&op_sharpen=0&resMode=bicub&op_usm=0.7,1.0,0.5,0&fmt=jpeg"
    alt="img" class="img"><p class="img-descriptions"><b>SALVATORE FERRAGAMO</b> <br> LKR.110,090.18</p> </ng-template>
  <ng-template carouselSlide><img
    src="https://images.bloomingdalesassets.com/is/image/BLM/products/7/optimized/11138267_fpx.tif?op_sharpen=1&wid=240&hei=300&fit=fit,1&qlt=50&layer=comp&op_sharpen=0&resMode=bicub&op_usm=0.7,1.0,0.5,0&fmt=jpeg"
    alt="img" class="img"><p class="img-descriptions"><b>SALVATORE FERRAGAMO</b> <br> LKR.41,090.18 </p></ng-template>
  <ng-template carouselSlide><img
    src="https://images.bloomingdalesassets.com/is/image/BLM/products/8/optimized/11215028_fpx.tif?op_sharpen=1&wid=240&hei=300&fit=fit,1&qlt=50&layer=comp&op_sharpen=0&resMode=bicub&op_usm=0.7,1.0,0.5,0&fmt=jpeg"
    alt="img" class="img"><p class="img-descriptions"><b>SALVATORE FERRAGAMO</b> <br> LKR.141,090.18</p> </ng-template>
  <ng-template carouselSlide><img
    src="https://images.bloomingdalesassets.com/is/image/BLM/products/8/optimized/11270048_fpx.tif?op_sharpen=1&wid=240&hei=300&fit=fit,1&qlt=50&layer=comp&op_sharpen=0&resMode=bicub&op_usm=0.7,1.0,0.5,0&fmt=jpeg"
    alt="img" class="img"><p class="img-descriptions"><b>SALVATORE FERRAGAMO</b> <br> LKR.141,090.18 </p></ng-template>
  <ng-template carouselSlide><img
    src="https://images.bloomingdalesassets.com/is/image/BLM/products/9/optimized/11368499_fpx.tif?op_sharpen=1&wid=240&hei=300&fit=fit,1&qlt=50&layer=comp&op_sharpen=0&resMode=bicub&op_usm=0.7,1.0,0.5,0&fmt=jpeg"
    alt="img" class="img"><p class="img-descriptions"><b>SALVATORE FERRAGAMO</b> <br> LKR.141,090.18 </p></ng-template>
  <ng-template carouselSlide><img
    src="https://images.bloomingdalesassets.com/is/image/BLM/products/1/optimized/11264561_fpx.tif?op_sharpen=1&wid=240&hei=300&fit=fit,1&qlt=50&layer=comp&op_sharpen=0&resMode=bicub&op_usm=0.7,1.0,0.5,0&fmt=jpeg"
    alt="img" class="img"><p class="img-descriptions"><b>SALVATORE FERRAGAMO</b> <br> LKR.141,090.18 </p></ng-template>
  <ng-template carouselSlide><img
    src="https://images.bloomingdalesassets.com/is/image/BLM/products/5/optimized/11458025_fpx.tif?op_sharpen=1&wid=240&hei=300&fit=fit,1&qlt=50&layer=comp&op_sharpen=0&resMode=bicub&op_usm=0.7,1.0,0.5,0&fmt=jpeg"
    alt="img" class="img"><p class="img-descriptions"><b>SALVATORE FERRAGAMO</b> <br> LKR.141,090.18 </p></ng-template>
  <ng-template carouselSlide><img
    src="https://images.bloomingdalesassets.com/is/image/BLM/products/4/optimized/11494484_fpx.tif?op_sharpen=1&wid=240&hei=300&fit=fit,1&qlt=50&layer=comp&op_sharpen=0&resMode=bicub&op_usm=0.7,1.0,0.5,0&fmt=jpeg"
    alt="img" class="img"><p class="img-descriptions"><b>SALVATORE FERRAGAMO</b> <br> LKR.141,090.18</p> </ng-template>
  <ng-template carouselSlide><img
    src="https://images.bloomingdalesassets.com/is/image/BLM/products/1/optimized/10559961_fpx.tif?op_sharpen=1&wid=240&hei=300&fit=fit,1&qlt=50&layer=comp&op_sharpen=0&resMode=bicub&op_usm=0.7,1.0,0.5,0&fmt=jpeg"
    alt="img" class="img"><p class="img-descriptions"><b>SALVATORE FERRAGAMO</b> <br> LKR.141,090.18 </p></ng-template>
  <ng-template carouselSlide><img
    src="https://images.bloomingdalesassets.com/is/image/BLM/products/0/optimized/10354060_fpx.tif?op_sharpen=1&wid=240&hei=300&fit=fit,1&qlt=50&layer=comp&op_sharpen=0&resMode=bicub&op_usm=0.7,1.0,0.5,0&fmt=jpeg"
    alt="img" class="img"><p class="img-descriptions"><b>SALVATORE FERRAGAMO</b> <br> LKR.141,090.18</p> </ng-template>
</owl-carousel-o>
