<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

<mat-drawer-container class="example-container">
  <mat-drawer #drawer >
    <div id="update-form" *ngIf="updateIt == true"><form [formGroup]="updateForm" (ngSubmit)="update()" class="side-form">
      <mat-form-field appearance="outline">
        <mat-label>Size</mat-label>
        <mat-select formControlName="itemSize" [(ngModel)]="itemSize">
          <mat-option *ngFor="let size of sizes" [value]="size.value">
            {{size.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Qty</mat-label>
        <mat-select formControlName="itemQty" [(ngModel)]="itemQty">
          <mat-option *ngFor="let quantity of quantities" [value]="quantity.value">
            {{quantity.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-flat-button color="accent" type="submit">Update</button>
    </form></div>
    <div class="main-wrap" *ngIf="loginUI == true">
      <div class="form-outer">
        <form [formGroup]="loginForm" (ngSubmit)="login()">
          <div class="mb-3">
            <label for="EmailAddress" class="form-label">Email address</label>
            <input formControlName="userEmail"  type="email" class="form-control" id="EmailAddress" placeholder="name@example.com">

            <p *ngIf="loginForm.get('userEmail')?.touched && loginForm.get('userEmail')?.invalid" class="alert alert-danger"style="margin-top: 4px">E-mail is required</p>
          </div>

          <div class="mb-3">
            <label for="Password" class="form-label">Password</label>
            <input formControlName="userPassword" type="password" class="form-control" id="Password" placeholder="">
            <p *ngIf="loginForm.get('userPassword')?.touched && loginForm.get('userPassword')?.invalid" class="alert alert-danger" style="margin-top: 4px">Password is required</p>
          </div>
          <button [disabled]="loginForm.invalid" type="submit" class="btn btn-primary btn-login">Login</button>
        </form>
      </div>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
      <ng-container matColumnDef="Item ID">
        <th mat-header-cell *matHeaderCellDef>Item ID</th>
        <td mat-cell *matCellDef="let element">{{element.itemID}}</td>
      </ng-container>

      <ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">{{element.itemName}}</td>
      </ng-container>

      <ng-container matColumnDef="Size">
        <th mat-header-cell *matHeaderCellDef>Size</th>
        <td mat-cell *matCellDef="let element">{{element.itemSize}}</td>
      </ng-container>

      <ng-container matColumnDef="Qty">
        <th mat-header-cell *matHeaderCellDef>Qty</th>
        <td mat-cell *matCellDef="let element">{{element.itemQty}}</td>
      </ng-container>

      <ng-container matColumnDef="Price">
        <th mat-header-cell *matHeaderCellDef>Price</th>
        <td mat-cell *matCellDef="let element">{{element.itemPrice}}</td>
      </ng-container>

      <ng-container matColumnDef="Operation">
        <th mat-header-cell *matHeaderCellDef>Operation</th>
        <td id="operation" mat-cell *matCellDef="let element">
          <button mat-raised-button color="warn" (click)="removeData(); delete(element.orderID)">Remove</button>
          &nbsp;
          <button type="button" class="btn btn-success" (click)="updateItem(element);drawer.toggle()">Update</button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <div class="checkout-wrap"><button mat-raised-button color="primary" class="btn-checkout" (click)="loginFormVisibility(); drawer.toggle()">CHECKOUT</button></div>
  </mat-drawer-content>
</mat-drawer-container>
